<%= form_for(@bookmark) do |f| %>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

    <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>

    </div>
<% end %>

    <div class="field">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </div>

    <div class="field">
      <label>Topic names</label>
      <%= text_field_tag :topic_names, placeholder: "#topic1 #topic2"%>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
