<p id="notice"><%= notice %></p>

<div class="page-actions">
  <%= link_to 'Edit', edit_topic_path(@topic), class: 'btn btn-success' %>
  <%= link_to 'Back', topics_path, class: 'btn btn-success'  %>
</div>

<p>
  <strong>#<%= @topic.name %></strong>
  <ul class="bookmarks">
    <%= render @topic.bookmarks %>
  </ul>   
</p>

 <%#= render partial: 'likes/like', locals: { bookmark: @bookmark } %>