<h1>My Bookmarks</h1>

  <ul class="topics">    
      <% @topics.each do |topic| %>
        <li><%= link_to "##{topic.name}", topic %></li>
        <ul class="bookmarks">
          <% topic.bookmarks.each do |bookmark| %>
            <%= render partial: "bookmarks/bookmark", object: bookmark, locals: {show_remove_button: true} %>
          <% end %>
        </ul>    
      <% end %>
  </ul>
<br>

<h1>My Likes</h1> 

  <ul class="topics">
      <% @liked_topics.each do |topic| %>
        <li><%= link_to "##{topic.name}", topic %></li>
        <ul class="bookmarks">
           <% topic.bookmarks.each do |bookmark| %>
            <%= render partial: "bookmarks/bookmark", object: bookmark, locals: {show_remove_button: false} %>
          <% end %>
        </ul>    
      <% end %>
  </ul>
<br>


<!-- <div class="col-md-4">
<%= link_to 'Create a New Bookmark', new_bookmark_path, class: 'btn btn-success' %>
 </div>
  
  <table class="table table-striped">
    <div class="container">
  <tbody>
     <% @bookmarks.each do |bookmark| %>
    <div class="col-md-3">
     <td><%= Topic.name %> </td>
    </div>
    <div class="col-md-3">
      <td><%= link_to bookmark.url, "http://#{bookmark.url}" %></td>
     </div>
 
     <div class="col-md-3">
      <td><%= link_to 'Like/Unlike' %></td>
     </div>
 
      <div class="col-md-3">
      <td><%= link_to 'Destroy', bookmark, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this bookmark?' } %>    </td>
    </tr>
    </div>
    </div>
     <% end %>
    </tbody>
  </div>
</table> -->